<div class="row">
    <div class="col-md-12">
        <h1>{{title}}
            <a href="/departments/add" class="btn btn-success pull-right " style="margin-top:5px;">
                Add New Department &nbsp;&nbsp;  <span class="glyphicon glyphicon-plus"></span>
            </a>
        </h1>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Department&nbsp;Number</th>
                        <th>Department&nbsp;Name</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td> {{departmentId}} </td>
                        <td><a href="/departments/{{departmentId}}">{{departmentName}}</a></td>
                        <td><a href="/departments/delete/{{departmentId}}" class="btn btn-danger glyphicon glyphicon-trash"></a></td>
                    </tr>
                    {{else}}
                    <tr>
                        <td> No data available... </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>
</div>